<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.gridbase.codegraph.sweep</string>
  <key>ProgramArguments</key>
  <array>
    <string>__GC_GRAPH__</string>
    <string>reindex</string>
    <string>--all</string>
    <string>--if-stale</string>
  </array>
  <key>StartInterval</key>
  <integer>__INTERVAL__</integer>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>__LOG__</string>
  <key>StandardErrorPath</key>
  <string>__LOG__</string>
</dict>
</plist>
